<body style="background-color: lightblue">
<p>Çocuklarınızın eğilimlerine göre zeka türünü keşfedin ve böylece onlara yeteneklerini gösterme,
  geliştirme ve başarılı olma şansı verin</p>

<p> <b>Çocuğunuzun özelliklerini, yönelimlerini dikkate alarak aşağıdaki zeka türlerine ait özelliklerle karşılaştırın
  ve zeka türünü belirleyin.</b></p>

<p><br>
<%= link_to 'Dilsel Zeka', dilsel_path%>
<br></p>

<p><br>
<%= link_to 'Görsel Zeka', gorsel_path%>
<br></p>

<p><br>
<%= link_to 'Matematiksel/Mantıksal Zeka', matematiksel_path%>
<br></p>

<p><br>
<%= link_to 'Bedensel/Mantıksal Zeka', bedensel_path%>
<br></p>

<p><br>
<%= link_to 'Müziksel Zeka.', muziksel_path%>
<br></p>

<p><br>
<%= link_to 'Sosyal Zeka.', sosyal_path%>
<br></p>

<p><br>
<%= link_to 'İçe Dönük Zeka.', icsel_path%>
<br></p>

<p><br>
<%= link_to 'Doğasal Zeka.', dogasal_path%>
<br></p>

</body>